/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

:root {
  font-family: 'Source Sans Pro', sans-serif;

  --color-blue-0: #003E6B;
  --color-blue-1: #0A558C;
  --color-blue-2: #0F609B;
  --color-blue-3: #186FAF;
  --color-blue-4: #2680C2;
  --color-blue-5: #4098D7;
  --color-blue-6: #62B0E8;
  --color-blue-7: #84C5F4;
  --color-blue-8: #B6E0FE;
  --color-blue-9: #DCEEFB;

  --color-grey-0: #102A43;
  --color-grey-1: #243B53;
  --color-grey-2: #334E68;
  --color-grey-3: #486581;
  --color-grey-4: #627D98;
  --color-grey-5: #829AB1;
  --color-grey-6: #9FB3C8;
  --color-grey-7: #BCCCDC;
  --color-grey-8: #D9E2EC;
  --color-grey-9: #F0F4F8;

  --color-green-0: #004440;
  --color-green-1: #016457;
  --color-green-2: #048271;
  --color-green-3: #079A82;
  --color-green-4: #17B897;
  --color-green-5: #2DCCA7;
  --color-green-6: #5FE3C0;
  --color-green-7: #8EEDD1;
  --color-green-8: #C6F7E9;
  --color-green-9: #F0FCF9;
}
html,
body {
  margin: 0;
  padding: 0;
}



